@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="vi">

<meta charset="UTF-8" />

<meta name="description" content="">
<title>Tin tức		</title>
<meta name="keywords" content="Tin tức," />

<style>
	

	.breadcrumb .breadcrumb-item a {
		text-decoration: none;
	}
</style>
<body>
	<div class="container">
		<ul class="breadcrumb">
			<li class="home">
				<a href="/" class="text-dark font-size-14px text-decoration-none" style="padding: 11px 0;">Trang chủ</a>
				<span class="mr_lr">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"> <path d="M13.4246 6.50003L7.41421 12.5104L6 11.0962L10.5962 6.50003L6 1.90384L7.41422 0.489624L13.4246 6.50003Z" fill="#8C8C8C"></path> <path d="M8 6.50003L1.98959 12.5104L0.575378 11.0962L5.17157 6.50003L0.57538 1.90384L1.98959 0.489624L8 6.50003Z" fill="#8C8C8C"></path> </svg>&nbsp;</span>
			</li>
			<li>
				<span class="text-dark font-size-14px" style="padding: 11px 0;">Chính sách bán hàng</span>
			</li>
		</ul>
	</div>
<div class="col-12">
	<div class="page-title category-title">
		<h1 class="title-head">Chính sách bán hàng</h1>
	</div>
	<div class="content-page rte">
		<p>
			Đồng hồ chính hãng khác với đồng hồ Fake ở chỗ là nó luôn đi kèm với 1 chiếc THẺ hoặc 1 SỔ BẢO HÀNH toàn cầu có giá trị bảo hành theo từng thời gian quy định của từng hãng.<br>
				THẺ hoặc SỔ BẢO HÀNH chính thức này được TniCiu ghi đầy đủ và chính xác các thông tin của đồng hồ như: mã đồng hồ, nơi bán, ngày mua hàng.<br>
			Thời gian bảo hành được tính từ ngày mua hàng được ghi trên THẺ hoặc SỔ BẢO HÀNH.
		</p>
		<p><strong>DUY NHẤT TẠI </strong>TniCiu</p>
		<p>
				1: Bạn sẽ được&nbsp;<strong>bảo hành trọn gói 5 năm</strong>&nbsp;tính từ ngày mua tại TniCiu, (đã bao gồm cả thời gian bảo hành quốc tế của từng hãng).<br>
				2: TniCiu sẽ không có bất cứ quy định khắt khe và không thu bất cứ khoản phí nào trong suốt 5 năm bảo hành, đồng hồ của bạn có bất cứ lỗi nào từ nhà sản xuất bạn mang qua sẽ được bảo hành.
		</p>
		<p><strong>ĐIỀU KIỆN BẢO HÀNH</strong></p>
			<p>1:&nbsp;TniCius&nbsp;sẽ chỉ bảo hành miễn phí cho các lỗi của nhà sản xuất như: hư hỏng các linh kiện bên trong của đồng hồ, có thể được đổi sang 1 chiếc đồng hồ mới (trong vòng 7 ngày tính từ ngày nhận hàng) tuỳ theo mức độ hỏng hóc của linh kiện.</p>
		<p>
				2: Ngoài ra Pin của đồng hồ bạn mua tại hệ thống của&nbsp;TniCius&nbsp;sẽ được thay thế miễn phí và lau dầu cũng miễn phí trong suốt thời gian bảo hành (không áp dụng pin năng lượng từ ánh sáng (Eco-Drive), loại pin này sẽ áp dụng theo các chính sách bảo hành kèm theo của hãng). Riêng đồng hồ Casio sẽ được miễn phí thay pin trọn đời.<br>
				3: TniCiu chỉ chấp nhận bảo hành khi bạn còn giữ THẺ hoặc SỔ BẢO HÀNH liên quan tới chiếc đồng hồ của bạn.
		</p>
		<p><strong>KHÔNG BẢO HÀNH</strong></p>
		<p>
			1. Không bảo hành dây, vỏ vì các bộ phận bên ngoài này sẽ bị hao mòn và lão hoá theo thời gian ví dụ như: vỏ máy bị móp méo do va đập, bị trầy xước, phai màu, bong tróc, nứt vỡ, hỏng khoá dây.<br>
			2. Không bảo hành cho những hậu quả gián tiếp của việc sử dụng không đúng cách của người sử dụng như: đeo đồng hồ trong khi xông hơi, tắm nước nóng, để đồng hồ tiếp xúc với các loại hóa chất, axít, chất tẩy rửa có độ ăn mòn cao…<br>
			3. Không bảo hành cho những đồng hồ đã bị sửa chữa tại những nơi không phải là trung tâm bảo hành được các hãng đồng hồ ủy quyền chính thức hoặc tại Ego Helios đặc biệt trường hợp kháchh tự sửa chữa sẽ từ chối bảo hành ngay lập tức.<br>
			4. Không bảo hành cho đồng hồ bị hư hỏng do ảnh hưởng của thiên tai, hỏa hoạn, lũ lụt, tai nạn hoặc cố tình gây hư hỏng.
		</p>
	</div>
	</div>
</body>
